.MoreButtonContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MoreButton{
    width: 10%;
    border-radius: 100px;
    height: 50px;
    font-size: medium;
    background-color: #DE0311;
}