@media screen and (max-width: 300px) {
    .DoctorsContainer{
        width: calc(250px + 2rem);
        flex-shrink: 0;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
        padding-top: 50px;
        // padding-left: 200px;
        // padding-right: 200px;
        // justify-content: center;
    }
}

@media screen and (min-width: 550px) {
    .DoctorsContainer{
        width: calc(500px + 4rem);
        flex-shrink: 0;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
        padding-top: 50px;
        // padding-left: 200px;
        // padding-right: 200px;
        // justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .DoctorsContainer{
        width: calc(750px + 6rem);
        flex-shrink: 0;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
        padding-top: 50px;
        // padding-left: 200px;
        // padding-right: 200px;
        // justify-content: center;
    }
}

@media screen and (min-width: 1050px) {
    .DoctorsContainer{
        width: calc(1000px + 8rem);
        flex-shrink: 0;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
        // padding-left: 200px;
        // padding-right: 200px;
        // justify-content: center;
    }
}



.DoctorsContainerWraper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}